body{
    min-width:429px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:429px;            /* As IE6 ignores !important it will set width as 1000px; */
}

.pattern{
    position: fixed;
    width: 100vw;
    height: 100vh;
    
    --s: 10px;
    --c1: #fdfcfc;
    --c2: #6f8b6910;
    
    background:
        conic-gradient(at 60% 60%,var(--c1) 75%, #0000 0) 0 0/calc(5*var(--s)/2) calc(5*var(--s)/2),
        repeating-conic-gradient(var(--c1) 0 25%, #0000 0 50%) 0 0/calc(5*var(--s)) calc(5*var(--s)),
        repeating-conic-gradient(var(--c2) 0 25%,var(--c1) 0 50%) 0 0/var(--s) var(--s);
}

.ingredients-table td{
    background-color: #fdfcfc;
}

.ingredients-table th{
    background-color: #edf0ed;
}

.test{
    background-color: aquamarine;
}

.cocktail-img{
    aspect-ratio: 1/1;
    object-fit: cover;
    padding-left: -10%;
    width: 100%;
}

.cocktail-div{
    padding-top: 20px;
    padding-bottom: 20px;
}

.level{
    background-color: #edf0ed;
    height: 10px;
    border: 10px;
    width: 5.5em;
    border-color: white;
}

.level.active{
    background-color: #576e52;
}

.tasting-container{
    padding-left: 2.5%;
    padding-bottom: 2%;
}

.desc{
    padding-top: 5px;
    margin-bottom: 0px;
    font-size: medium;

}

.container-fluid{
    position: absolute;
    }

.ranking-meter{
    background-color: #edf0ed;
    height: 10px;
    margin-top: 6px;
    margin-left: -5px;
    width: 3em;
}

.desc{
    padding-top: 5px;
    margin-bottom: 0px;
    font-size: medium;
}

p.desc{
    font-size: 1.2em;
}

.ranking-meter.active{
    background-color: #576e52;
}

.star-ranking{
    max-width: 60px;
    font-size: large;
}

.fa.fa-star.checked{
    color: #496147;
}

@media (min-width: 768px) {
    .star-ranking{
        max-width: 60px;
        font-size: medium;
    }
    .cocktail-img{
        aspect-ratio: 1/1.4;
        }
        
    h1{
        padding-top: 10px;
        }
}

.dropdown-row{
    padding-left: -12px;
}

.sort-button{
    background-color: #fdfcfc;
    color: #576e52;
    border-color: #fdfcfc;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: large;

    margin-top: 20px;
    margin-bottom: -37px;

    padding: 0px 8px 0px 8px;
}

.sort-button:hover{
    background-color: #576e52;
}

.sort-button::after{
    background-color: #576e52;
}

.sort-button:focus{
    background-color: #576e52;
}

.sort-button:focus-visible{
    color: #fdfcfc;
    background-color: #576e52;
    border-color: #576e525e;
}

@media (min-width: 992px) {
    .cocktail-img{
        aspect-ratio: 1/1.1;
        }
}

@media (min-width: 429px) {
    .ingredients-table{
        font-size: 1em;
        }
        
    p.desc{
        font-size: 1em;
        }
    h1{
        padding-top: 5px;
        }
        
    .ranking-meter{
        margin-top: 8px;
        }
}